<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div id="example">
        <h1 class="row justify-content-md-center">Hello, World</h1>
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <form>
                    <div class="form-group">
                        <label for="empname">Employee Name</label>
                        <input type="text" class="form-control" id="empname" v-model="empname" placeholder="Employee Name">
                    </div>
                    <div class="form-group">
                        <label for="empid">Employee Id</label>
                        <input type="text" class="form-control" id="empid" v-model="empid" placeholder="Employee ID">
                    </div>
                    <input type="button" v-on:click="submit()" class="btn btn-primary" value="Submit" />
                </form>
                <button v-on:click="getAllEmployees">Get all employees</button>
            <ul>
                <li v-for="e in employees">
                    <p>{{e.empname}}</p>
                    <p>{{e.empid}}</p>
                </li>
            </ul>
            </div>
        </div>
        <p>{{res}}</p>
    </div>
    <script src="script.js"></script>
</body>

</html>